<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="login-form">
    <h1>Login</h1>
    <div class="container">
      <div class="main">
        <div class="content">
          <h2>Log in</h2>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <form action="{{ url_for('login') }}" method="post">
            <input type="text" name="username" placeholder="User Name" required autofocus>
            <input type="password" name="password" placeholder="User Password" required>
            <button class="btn" type="submit">Login</button>
          </form>
          <p class="account">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
        </div>
        <div class="form-img">
          <img src="{{ url_for('static', filename='img.jpg') }}" alt="">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
